<a
  href="#"
  class="list-group-item">
  <div class="container">
    <div *ngFor="let course of courseSchedule.courses"
         class="item">
      <div class="list-group-item-text">
        <h4 class="list-group-item-heading">{{ course.name }} ({{ course.credits }})</h4>
        <div *ngIf="showTimeSlots">
          <div *ngIf="!course.isOnline; else online">
            <div *ngFor="let timeSlot of course.timeSlots">
              <div class="list-group-item-text">{{ timeSlot.startTime.toString() }}~{{ timeSlot.endTime.toString() }}</div>
              <div class="list-group-item-text">{{ timeSlot.days.toString() }}</div>
            </div>
          </div>
          <ng-template #online>
            <div>Online Course</div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="list-group-item-text">Total Credits: {{ courseSchedule.credits }}</div>
</a>
