<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Course Schedule Maker</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" (click)="onSelect('course-list')">Courses</a></li>
      </ul>
    </div>
  </div>
</nav>
