<a
  href="#"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading blacktext">{{ course.name }} ({{ course.credits }})</h4>
    <div *ngIf="!course.isOnline; else online">
      <div *ngFor="let timeSlot of course.timeSlots">
        <div class="list-group-item-text graytext">{{ timeSlot.startTime.toString() }}~{{ timeSlot.endTime.toString() }}</div>
        <div class="list-group-item-text graytext">{{ timeSlot.days.toString() }}</div>
      </div>
    </div>
    <ng-template #online>
      <div class="graytext">Online Course</div>
    </ng-template>
  </div>
  <div class="pull-right">
    <button
      type="button"
      class="btn btn-danger fa fa-trash" (click)="onDelete()"></button>
  </div>
</a>
