<div class="row">
    <div class="col-md-10">
      <form>
        <div class="row">
          <div class="col-md-8 form-group">
            <label for="name">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              maxlength="60"
              class="form-control"
              [(ngModel)]=courseName>
          </div>
          <div class="col-md-2 form-group">
              <label for="credits">Credits</label>
              <input
                type="number"
                name="credits"
                id="credits"
                class="form-control"
                [(ngModel)]=credits>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 form-group left-margin">
            <input type="checkbox"
                   id="onlineCheck"
                   class="form-check-input"
                   [checked]="isOnline"
                   (change)="isOnline = !isOnline">
            <label for="onlineCheck">
              Online Course
            </label>
          </div>
        </div>
        <div *ngFor="let index of indexes">
          <fieldset [disabled]="isOnline">
            <div class="row">
              <div class="col-md-2 form-group">
                <label for="time">Start Time</label>
                  <input
                    type="time"
                    name="startTime"
                    id="startTime"
                    class="form-control"
                    [(ngModel)]=startTimes[index]>
              </div>
              <div class="col-md-2 form-group">
                <label for="time">End Time</label>
                <input
                    type="time"
                    name="endTime"
                    id="endTime"
                    class="form-control"
                    [(ngModel)]="endTimes[index]">
              </div>
            </div>
            <div class="row"
                 style="margin-left:-4px">
              <div>
                <div class="col-md-1 form-check-inline">
                  <label class="form-check-label centered-below" for="sundayCheck">
                    <input type="checkbox"
                           name="sunday"
                           id="sundayCheck"
                           class="form-check-input align-checkbox"
                           [(ngModel)]="timeSlots[index].days.sunday">
                    S
                  </label>
                </div>
                <div class="col-md-1 form-check-inline">
                  <label class="form-check-label centered-below" for="mondayCheck">
                    <input type="checkbox"
                           name="monday"
                           id="mondayCheck"
                           class="form-check-input align-checkbox"
                           [(ngModel)]="timeSlots[index].days.monday">
                    M
                  </label>
                </div>
                <div class="col-md-1 form-check-inline">
                  <label class="form-check-label centered-below" for="tuesdayCheck">
                    <input type="checkbox"
                           name="tuesday"
                           id="tuesdayCheck"
                           class="form-check-input align-checkbox"
                           [(ngModel)]="timeSlots[index].days.tuesday">
                    T
                  </label>
                </div>
                <div class="col-md-1 form-check-inline">
                  <label class="form-check-label centered-below" for="wednesdayCheck">
                    <input type="checkbox"
                           name="wednesday"
                           id="wednesdayCheck"
                           class="form-check-input align-checkbox"
                           [(ngModel)]="timeSlots[index].days.wednesday">
                    W
                  </label>
                </div>
                <div class="col-md-1 form-check-inline">
                  <label class="form-check-label centered-below" for="thursdayCheck">
                    <input type="checkbox"
                           name="thursday"
                           id="thursdayCheck"
                           class="form-check-input align-checkbox"
                           [(ngModel)]="timeSlots[index].days.thursday">
                    Th
                  </label>
                </div>
                <div class="col-md-1 form-check-inline">
                  <label class="form-check-label centered-below" for="fridayCheck">
                    <input type="checkbox"
                           name="friday"
                           id="fridayCheck"
                           class="form-check-input align-checkbox"
                           [(ngModel)]="timeSlots[index].days.friday">
                    F
                  </label>
                </div>
                <div class="col-md-1 form-check-inline">
                  <label class="form-check-label centered-below" for="saturdayCheck">
                    <input type="checkbox"
                           name="saturday"
                           id="saturdayCheck"
                           class="form-check-input align-checkbox"
                           [(ngModel)]="timeSlots[index].days.saturday">
                    Sa
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <hr>
        </div>
        <fieldset [disabled]="isOnline">
          <div class="row">
            <div class="col-xs-12 left-margin">
              <button class="btn btn-secondary fa fa-minus" (click)="onDeleteTimeSlot()" [disabled]="deleteTimeSlotIsDisabled"></button>
              <button class="btn btn-secondary fa fa-plus" (click)="onAddTimeSlot()" [disabled]="addTimeSlotIsDisabled"></button>
            </div>
          </div>
        </fieldset>
        <hr>
        <div class="row">
          <div class="col-xs-12 left-margin">
            <button class="btn btn-success" type="submit" (click)="onAddItem()">Add</button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
          </div>
        </div>
      </form>
      <p *ngIf="validInput; else error">Course "{{ lastAddedCourse.name }}" added.</p>
      <ng-template #error>
        <div
          class="row errorStyle"
          *ngFor="let errorMessage of errorMessages">{{ errorMessage }}</div>
      </ng-template>
    </div>
  </div>
