<app-course-edit
  (courseAdded)="onCourseAdded($event)"
  (coursesCleared)="onCoursesCleared($event)"></app-course-edit>
<hr>
<div class="row">
  <div class="col-md-12">
    <app-course
      *ngFor="let course of courses"
      [course]="course"
      (courseDeleted)="onCourseDeleted($event)"></app-course>
  </div>
</div>
<hr>
<app-course-schedule-maker [courses]="courses"></app-course-schedule-maker>
