<div class="row">
  <div class="col-sm-2 form-group">
    <label for="minCredits">Minimum Required Credits</label>
    <input
      type="number"
      id="minCredits"
      class="form-control"
      value="0"
      #minCreditsInput>
  </div>
  <div class="col-sm-2 form-group">
      <label for="maxCredits">Maximum Allowed Credits</label>
      <input
        type="number"
        id="maxCredits"
        class="form-control"
        value="19"
        #maxCreditsInput>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 form-group left-margin">
    <label for="showTime">
      <input
        type="checkbox"
        id="showTime"
        class="form-check-input"
        [checked]="showTimeSlots"
        (change)="showTimeSlots = !showTimeSlots">
    Show Time Slots</label>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 left-margin">
    <button class="btn btn-success" (click)="createNewSchedules()">Create Schedules</button>
  </div>
</div>
<hr>
<div class="container">
  <app-course-schedule class="item"
                       *ngFor="let courseSchedule of courseSchedules; let i=index"
                       [courseSchedule]="courseSchedule"
                       [showTimeSlots]="showTimeSlots"
                       [index]="i"></app-course-schedule>
</div>
